<h1>Payment Successful!</h1>

<h2>The seller has been emailed with your name and postal address</h2>
<h3>Tracking details will be emailed to you within 24 hours</h3>
<h3>Contact seller on EMAIL for any queries</h3>

<%= link_to "Back", :back%>